.card {
  position: relative;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
}
.text {
  word-break: break-all;
  padding: 12px;
}
.line_through {
  text-decoration: line-through;
  word-break: break-all;
  padding: 12px;
}
.btnDelete {
  position: absolute;
  top: 0;
  right: 0;
  color:grey;
}
.btnDelete:hover{
    color:black;
}
