.tableHeader {
  display: flex;
  margin: 25px auto 0;
  max-width: 600px;
  background-color: darkgray;
  color: white;
  padding: 4px;
  outline: 1px solid black;
}
.table {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.row {
  padding: 8px;
  outline: 1px solid black;
  background-color: lightslategray;
  display: flex;
  align-items: center;
}
.row:nth-child(2n) {
  background-color: gray;
}
.id {
  width: 35px;
  text-align: center;
}
.title {
  width: 250px;
  text-align: start;
}

.description {
  width: 350px;
  text-align: start;
  padding-left: 4px;
}
